@model List<Model.EF.Product>
@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách sản phẩm</h2>
<div class="section group">
    @foreach (var item in Model)
    {
        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
        <div class="grid_1_of_4 images_1_of_4">
            <a href="@url"><img src="@item.Image" alt="@item.Name" /></a>
            <h2>@item.Name </h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="/them-gio-hang?productId=@item.ID&quantity=1">Thêm vào giỏ hàng</a></h4>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    }


</div>

